<%- include('../../shared/includes/head', { pageTitle: 'Đăng ký'}) %>
</head>
<body class="h-screen bg-zinc-800 flex flex-col space-y-10 justify-center items-center text-white">
    <!-- logo -->
   <div class=" flex w-96 ">
      <img src="/img/logo-dark.svg" alt="">
   </div>
  
    <!-- Form  -->
    <div class="bg-zinc-700 w-96 shadow-xl rounded-2xl p-5">
      <h1 class="text-3xl font-medium text-center mb-2">Đăng ký</h1>
      <form class="space-y-5 mt-5 text-black" id="signup-form" method="POST" action="/signup">
        <% if (inputData.errorMessage) { %>
        <div class="bg-red-200 w-full rounded">
          <p class="px-2 py-1 text-red-700 font-bold text-md"><%= inputData.errorMessage %></p>
        </div>
        <% } %>
        <input type="text" class="w-full h-12 border border-gray-800 rounded px-3" placeholder="Họ và tên" name="name" value="<%= inputData.name%>" required/>
        <input type="text" class="w-full h-12 border border-gray-800 rounded px-3" placeholder="Tên đăng nhập" name="username" value="<%= inputData.username%>" required/>
        <input type="text" class="w-full h-12 border border-gray-800 rounded px-3" placeholder="E-mail" name="email" value="<%= inputData.email %>" required/>
        <input type="password" class="w-full h-12 border-gray-800 rounded px-3"  placeholder="Mật khẩu" name="password" value="<%= inputData.password %>" minlength="6" required/>  
        <input type="password" class="w-full h-12 border-gray-800 rounded px-3" placeholder="Nhập lại mật khẩu" name="password-confirm" required/>
        <button class="text-center w-full bg-secondaryRed hover:bg-primaryRed rounded-full text-white py-3 font-medium">Đăng ký ngay</button>
      </form>
    </div>
    <p>Đã có tài khoản? <a href="/login" class="text-primaryRed hover:text-secondaryRed font-medium">Đăng nhập</a></p>
  </div>
</body>