<div id="product-form" class="hidden w-[45vw] absolute z-40 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-4 rounded-lg bg-slate-800 text-gray-200">
  <div class="cancel-btn absolute -right-4 -top-2 w-6 rounded-full bg-red-600 text-center cursor-pointer">x</div>
  <form method="POST" action="<%= submitPath %>" enctype="multipart/form-data"  class="overflow-scroll overflow-x-hidden max-h-[60vh] px-2">
    <label>Tên dòng sản phẩm</label>
    <input type="text" name="name" value="<%= product.TenDSP %>" required>
    <label>Loại sản phẩm</label>
    <select name="type" class="bg-gray-700 text-white p-2">
      <% let names = ['Xe số', 'Xe tay ga', 'Xe tay côn', 'Phân khối lớn'] %>
      <% let types = ['XS', 'XG', 'TC', 'PL'] %>
      <% if (product.MaLoaiSP) { %>
       <option value="<%= product.MaLoaiSP %>"><%= names[types.indexOf(product.MaLoaiSP)] %></option>
       <% names = names.filter(element => element != names[types.indexOf(product.MaLoaiSP)]) %>
       <% types = types.filter(element => element != product.MaLoaiSP) %>
       <% for( let i = 0; i< names.length; i++ ) { %>
        <option value="<%= types[i] %>"><%= names[i] %></option>
       <% } %>
      <% } else { %>
        <option value="XS">Xe số</option>
        <option value="XG">Xe tay ga</option>
        <option value="TC">Xe tay côn</option>
        <option value="PL">Phân khối lớn</option>
      <% } %>
    </select>
    <label>Giá</label>
    <input type="number" name="price" value="<%= product.Gia %>" required><span class="ml-2">VNĐ</span>
    <label>Loại động cơ</label>
    <select name="engineType"  class="bg-gray-700 text-white p-2 w-72">
      <% if (currentEngineType) { %>
        <option value="<%= currentEngineType.MaLoaiDongCo %>"><%= currentEngineType.TenLoaiDongCo %></option>
      <% } %>
      <% for( const type of engineType) { %>
        <option value="<%= type.MaLoaiDongCo %>"><%= type.TenLoaiDongCo %></option>
      <% } %>
    </select>
    <label>Động cơ</label>
    <input type="number" name="engine" value="<%= product.DongCo %>" required><span class="ml-2">cc</span>
    <label>Ảnh minh hoạ</label>
    <div class="thumbnail-uploader flex items-center">
      <input type="file" name="thumbnail" accept="image/png" class="hidden" id="thumbnail" <% if (imageRequired) { %> required <% } %>>
      <label for="thumbnail" class="img-upload-btn">Chọn ảnh</label>
      <img alt="uploaded image" class="hidden ml-8 w-20 h-20">
    </div>
    <label>Ảnh bìa</label>
    <div class="hero-uploader flex items-center">
      <input type="file" name="hero" accept="image/jpg, image/png, image/jpeg" class="hidden" id="hero" <% if (imageRequired) { %> required <% } %>>
      <label for="hero" class="img-upload-btn">Chọn ảnh</label>
      <img alt="uploaded image" class="hidden ml-8 w-32 object-cover">
    </div>
    <p class="mt-16 text-center text-2xl">Thông số sản phẩm</p>
    <% let thongSoSP = product.ThongSoSP %>
    <label>Dung tích</label>
    <input type="text" name="ts1" value="<%= thongSoSP.DungTich %>">
    <label>Công suất tối đa</label>
    <input type="text" name="ts2" value="<%= thongSoSP.CongSuatMax %>">
    <label>Momen xoắn cực đại</label>
    <input type="text" name="ts3" value="<%= thongSoSP.MomenXoanMax %>">
    <label>Hệ thống khởi động</label>
    <input type="text" name="ts4" value="<%= thongSoSP.HTKhoiDong %>">
    <label>Chiều cao yên xe</label>
    <input type="text" name="ts5" value="<%= thongSoSP.ChieuCao %>">
    <label>Trọng lượng xe</label>
    <input type="text" name="ts6" value="<%= thongSoSP.TrongLuong %>">
    <label>Dung tích bình xăng</label>
    <input type="text" name="ts7" value="<%= thongSoSP.BinhXang %>">
    <label>Mức tiêu hao nhiên liệu</label>
    <input type="text" name="ts8" value="<%= thongSoSP.MucTieuHao %>">

    <!-- *** -->
    <div class="w-full flex justify-around mt-6">
      <button type="button" class="cancel-btn py-2 px-4 text-red-500 rounded border border-red-500 bg-transparent">Huỷ bỏ</button>
      <button class="py-2 px-4 bg-blue-600 rounded border border-blue-600" id="save-btn">Thêm dòng sản phẩm</button>
    </div>
  </form>
</div>