<%- include('../../shared/includes/head', {pageTitle: product.TenSP}) %>

</head>
<body class="overflow-x-hidden">
  <%- include('../../shared/includes/header') %>
  <div class="my-6">
    <img src="/img/hero.jpg" alt="hero-img" class="product-hero-img">
  </div>
  <div class="px-2 mx-auto">
    <div class="flex flex-col md:flex-row gap-x-10">
      <div class="h-[50vh] basis-[40%]">
        <img src="<%= product.thumbnailUrl %>" class="w-full h-full object-cover mx-auto">
      </div>
      <div class="basis-[60%]">
        <h3 class="text-left text-3xl font-bold text-rose-700"><%= product.TenSP %></h3>
        <p class="py-2 text-gray-600 text-xl font-semibold"><%= product.Gia.toLocaleString('vi-VN') %> <span>VNĐ</span></p>
        <div class="flex my-4 flex-row gap-x-4">
          <button type="button" class="border border-gray-400 w-16 py-1 shadow-md active:border-rose-600 active:text-rose-600">Đen</button>
          <button type="button" class="border border-gray-400 w-16 py-1 shadow-md active:border-rose-600 active:text-rose-600">Xanh</button>
          <button type="button" class="border border-gray-400 w-16 py-1 shadow-md active:border-rose-600 active:text-rose-600">Vàng</button>
          <button type="button" class="border border-gray-400 w-16 py-1 shadow-md active:border-rose-600 active:text-rose-600">Đỏ</button>
        </div>
        <button type="button" class="flex items-center justify-around py-1 px-3 rounded-lg shadow-lg bg-rose-700 text-white"
        data-productid="<%= product.MaSP %>">
          <img src="/img/add-cart.svg" class="w-12" id="add-btn">
          <p>Thêm vào giỏ hàng</p>
        </button>
      </div>
    </div>
  </div>
</body>
<%- include('../../shared/includes/footer') %>