<%- include('../../shared/includes/head', {pageTitle: 'Sản phẩm'}) %>

</head>
<body class="overflow-x-hidden">
  <%- include('../../shared/includes/header') %>
  <!-- Filter Container  -->
  <div class="py-3 px-2 mx-auto">
    <h3 class="my-2 font-semibold">Sử dụng bộ lọc:</h3>
    <div class="flex flex-row gap-x-8">
      <div class="flex justify-between p-2 border border-black rounded-xl w-36">
        <p class="text-gray-400">Loại xe</p>
        <img src="/img/dropdown.svg" class="w-6">
      </div>
      <div class="flex justify-between p-2 border border-black rounded-xl w-36">
        <p class="text-gray-400">Giá</p>
        <img src="/img/dropdown.svg" class="w-6">
      </div>
      <div class="flex justify-between p-2 border border-black rounded-xl w-36">
        <p class="text-gray-400">Động cơ</p>
        <img src="/img/dropdown.svg" class="w-6">
      </div>
      <button class="w-24 p-2 border border-black bg-black text-white rounded-xl hover:bg-opacity-80">Lọc</button>
    </div>
  </div>
  <!-- Products Container  -->
  <div class="py-4 px-6 mx-auto h-[70vh]">
    <!-- Products Grid -->
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <!-- Product Card -->
      <% for( const product of products ) { %>
      <div class="product-container">
        <div class="product-img group">
          <img src="<%= product.thumbnailUrl %>" class="group">
          <a href="/products/<%= product.MaSP %>" class="group group-hover:translate-y-[-50%] group-hover:opacity-100">Xem chi tiết</a>
          <div class="group group-hover:opacity-30"></div>
        </div>
        <a href="/products/<%= product.MaSP %>" class="block text-center text-xl text-rose-800 font-semibold"><%= product.TenSP %></a>
        <p class="text-gray-500 font-bold text-center"><%= product.Gia.toLocaleString('vi-VN') %> <span class="text-gray-500">VNĐ</span></p>
      </div>
      <% } %>
    </div>
  </div>
  <!-- Pagination -->
  <div class="py-3 flex justify-center items-center">
    <div class="pagination flex flex-row items-center gap-x-4">
        <a href="#"><img src="/img/prev-pg.svg" class="w-8"></a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">...</a>
        <a href="#">7</a>
        <a href="#"><img src="/img/next-pg.svg" class="w-8"></a>
      </div>
  </div>
</body>
<%- include('../../shared/includes/footer') %>